In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# # Look at APPLICATION_TYPE value counts for binning
# app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
# app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [15]:
# # Choose a cutoff value and create a list of application types to be replaced
# # use the variable name `application_types_to_replace`
# application_types_to_replace = list(app_type_counts[app_type_counts < 1000].index)

# # Replace in dataframe
# for app in application_types_to_replace:
#     application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure binning was successful
# application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [5]:
# # Look at CLASSIFICATION value counts for binning
# class_counts = application_df['CLASSIFICATION'].value_counts()
# class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [6]:
# # You may find it helpful to look at CLASSIFICATION value counts >1
# class_cleaned = class_counts.loc[class_counts > 1]
# class_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [16]:
# # Choose a cutoff value and create a list of classifications to be replaced
# # use the variable name `classifications_to_replace`
# classifications_to_replace = list(class_counts[class_counts < 1000].index)

# # Replace in dataframe
# for cls in classifications_to_replace:
#     application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
# application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [50]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df)
app_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [51]:
# Split our preprocessed data into our features and target arrays
y = app_dummies_df['IS_SUCCESSFUL']
X = app_dummies_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Part 2

In [52]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_nodes1 = 15
hidden_nodes2 = 10

# Add a third hidden layer
hidden_nodes3 = 5

nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes1,activation='relu',input_dim=input_features))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes2,activation='sigmoid'))

# Third hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes3,activation='sigmoid'))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_2.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 15)                295275

 dense_37 (Dense)            (None, 10)                160

 dense_38 (Dense)            (None, 5)                 55

 dense_39 (Dense)            (None, 1)                 6

=================================================================
Total params: 295496 (1.13 MB)
Trainable params: 295496 (1.13 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [53]:
# Compile the model
nn_2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

# Train the model
fit_model = nn_2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 5ms/step - loss: 0.6022 - accuracy: 0.7280
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4584 - accuracy: 0.7943
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2959 - accuracy: 0.8896
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2058 - accuracy: 0.9317
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1685 - accuracy: 0.9395
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1354 - accuracy: 0.9518
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1192 - accuracy: 0.9571
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1081 - accuracy: 0.9598
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1034 - accuracy: 0.9607
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1000 - accuracy: 0.9621
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0978 - accuracy: 0.9618
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0979 - accuracy: 0.9617
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0967 - accuracy: 0.9618
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0931 - accuracy: 0.9630
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0922 - accuracy: 0.9624
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0915 - accuracy: 0.9628
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0902 - accuracy: 0.9637
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0895 - accuracy: 0.9635
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0882 - accuracy: 0.9640
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0881 - accuracy: 0.9645
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0872 - accuracy: 0.9642
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0867 - accuracy: 0.9644
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0861 - accuracy: 0.9644
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0864 - accuracy: 0.9643
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0856 - accuracy: 0.9645
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0856 - accuracy: 0.9651
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0853 - accuracy: 0.9651
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0850 - accuracy: 0.9646
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0851 - accuracy: 0.9653
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9650
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0838 - accuracy: 0.9657
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0841 - accuracy: 0.9661
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0840 - accuracy: 0.9657
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9658
Epoch 36/50
804/804 [==============================] - 4s 4ms/step - loss: 0.0831 - accuracy: 0.9659
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9656
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9663
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0836 - accuracy: 0.9658
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0832 - accuracy: 0.9661
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9662
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0824 - accuracy: 0.9660
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0823 - accuracy: 0.9661
Epoch 44/50
804/804 [==============================] - 4s 4ms/step - loss: 0.0820 - accuracy: 0.9660
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9659
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9658
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9657
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9660
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0820 - accuracy: 0.9658
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0824 - accuracy: 0.9664

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4914 - accuracy: 0.7707 - 991ms/epoch - 4ms/step
Loss: 0.49140238761901855, Accuracy: 0.7707288861274719

In [46]:
# Export our model to HDF5 file
nn_2.save('AlphabetSoupCharity_Optimization.h5')

/Users/nancyulloa/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(